<!DOCTYPE html>
<html lang=I18n.locale ng-app='main' ng-controller='MainCtrl'>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <div ng-include="'views/public/_header.html'" ng-controller='HeaderCtrl'>
    </div>
  </body>
</html>
